html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Vollkorn SC', serif;
    background: #474445;
    overflow-x: hidden;
    margin-bottom: 60px;
}

header {
    background-color: #5a1207;
    color: #c8d0cc;
}

header .navbar-brand {
    font-size: 2rem;
    color: #c8d0cc;
}

header a {
    font-size: 1.5rem;
    color: #c8d0cc;
}

.bg-secondary {
    background-color: #5a1207!important;
    color: #c8d0cc
}

.navbar-dark .navbar-toggler {
    color: #c8d0cc;
    border: 3px solid #c8d0cc;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

p {
    font-family: 'Vollkorn', serif;
    line-height: 1.75;
}

.maincontent {
    padding-top: 40px;
    padding-bottom: 40px;
}

.carousel {
    padding-bottom: 20px;
}

.bio {
    padding-bottom: 20px;
}

.content-box {
    background-color: #c8d0cc;
}

hr {
    border-top: 3px double #474445;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #5a1207;
    color: #c8d0cc;
    text-align: center;
    padding-top: 10px;
}

.footer a {
    
    color: #c8d0cc;
}

.social-icon {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-content {
    line-height: 1.75;
}
