body {
    font-family: 'Vollkorn SC', serif;
    background: #474445;
    overflow: hidden;
}

header {
    background-color: #5a1207;
    color: #c8d0cc;
}

header .navbar-brand {
    font-size: 2rem;
}
header a {
    font-size: 1.5rem;
    color: #c8d0cc;
}

.maincontent {
    padding-top: 40px;
}

.content-box {
    background-color: #c8d0cc;
}