html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Vollkorn SC', serif;
    background: #474445;
    overflow-x: hidden;
    margin-bottom: 60px;
}

header {
    background-color: #5a1207;
    color: #c8d0cc;
}

header .navbar-brand {
    font-size: 2rem;
}
header a {
    font-size: 1.5rem;
    color: #c8d0cc;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

.maincontent {
    padding-top: 40px;
}

.content-box {
    background-color: #c8d0cc;
}

hr {
    border-top: 3px double #474445;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #5a1207;
    color: #c8d0cc;
    line-height: 60px;
    text-align: center;
}
